
node_modules

config/config.env

Mock Data

_mockData

seeders.js

public

helper





// Middleware logger to know req protocol
const logger = (req, res, next) => {
  console.info(
    `${req.method} ${req.protocol}://${req.get("host")}${req.originalUrl}`
  );
  next();
};
app.use(logger);
